<?xml version="1.0"?>
<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <rosparam command="load" file="$(find security_bot)/configuration/control.yaml" />
  <rosparam command="load" file="$(find security_bot)/configuration/joints.yaml" />
  <arg name="model" default="$(find security_bot)/model/security_bot.urdf.xacro"/>
  <param name="description" command="$(find xacro)/xacro.py $(arg model)" />
  <node type="hardware_robot" pkg="security_bot" output="screen" name="hardware_robot" >
    <remap to="/cmd_vel" from="/mobile_base_controller/cmd_vel" />
   </node>
  <node type="robot_state_publisher"  name="robot_publisher" pkg="robot_state_publisher">
  </node>
  <node pkg="rviz" type="rviz" name="rviz"  args="-d  $(find security_bot)/configuration/map_configuration.rviz"/>
  <node type="spawner" pkg="controller_manager" output="screen" name="spawner"
        args="
           /mobile_base_controller
            /joints_update" >
  </node>
  <node type="teleop_twist_keyboard" pkg="teleop_twist_keyboard.py" name="telop" >
  </node>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="map_update_interval" value="5.0"/>
	<param name="maxUrange" value="6.0"/>
    <param name="maxRange" value="8.0"/>
    <param name="linearUpdate" value="0.05"/>
	<param name="angularUpdate" value="0.5"/>
  </node>
</launch>

